* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html, body, .container-fluid {
    width: 100%;
    height: 100%;
    margin: auto;
}

.navbar {
    height: 8%;
    font-weight: bold;
    transition: .5s;
}

.nav-item {
    color: #eb774c !important;
    font-size: 20px;
    transition: .5s;
} 

.navbar-brand {
    color: #eb774c !important;
    font-size: 30px;
    transition: .5s;
}

.nav-item-scroll {
    color: white !important;
    background: transparent !important;
    transition: .5s;
}

.scroll-color {
    background: #1c3750d7 !important;
    color: white !important;
    transition: .5s;
}

.nav-item-scroll-click {
    color: white !important;
    background: transparent !important;
    transition: .5s;
}

.scroll-color-click {
    color: white !important;
    background: #1c3750e8 !important;
    transition: .5s;
}

.scroll-disappear {
    opacity: 0;
    transition: .5s;
}

.footer-scroll {
    height: 3%;
    margin-top: 0px;
    transition: .5s;
}

#header-img {
    background-image: url("../images/clean-computer-setup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    height: 100vh;
}

#header-text {
    position: absolute;
    top: 33%;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    color: #eb774c;
    transition: .5s;
}

#header-text h1 {
    width: 50%;
    padding-right: 3%;
}

#down-arrow {
    position: absolute;
    width: 100%;
    font-size: 50px;
    opacity: .6;
    bottom: 10%;
    margin: auto;
    text-align: center;
    color: black;
}

.body-content {
    overflow: hidden;
    height: 55%;
    display: block;
    width: 100%;
}

.body-content .row {
    height: 100%;
    /* display: inline; */
}

.body-img{
    height: 30%;
    display: block;
}

#body-img-1 {
    background-image: url("../images/start-up.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#body-img-2 {
    background-image: url("../images/home-banner.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

#body-img-3 {
    background-image: url("../images/blur-background-coffee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#content-1-shape {
    width: 50vw;
    height: 50vw;
    margin: auto;
    background: #eaba4d;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    overflow: hidden;
    z-index: 0;
    top: -90%;
    left: -110%;
    transition: .5s;
}

.content-1-shape-hover {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    top: -520px !important;
    left: -130% !important;
    transition: .5s !important;
}

#content-1-diamond  {
    width: 20vw;
    height: 20vw;
    margin: auto;
    background: #1c3750;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 35%;
    transition: .5s;
}

#content-diamond-1-text {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    margin: 40% auto;
    color: white;
    transition: .5s;

}

#content-2-shape {
    width: 50vw;
    height: 50vw;
    margin: auto;
    background: #eb774c;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    /* top: -90%; */
    right: -150%;
    transition: .5s;
}

.content-2-shape-hover {
    /* top: -520px !important; */
    right: -195% !important;
    transition: .5s !important;
}

#content-2-diamond {
    width: 20vw;
    height: 20vw;
    margin: auto;
    background: #74b6b5;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10%;
    transition: .5s;
}

#content-diamond-2-text {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    margin: 40% auto;
    color: white;
    transition: .5s;

}

.content-3-shape-hover {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    bottom: -130% !important;
    left: -130% !important;
    transition: .5s !important;
}

#content-3-shape {
    width: 50vw;
    height: 50vw;
    margin: auto;
    background: #1c3750;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: -100%;
    left: -110%;
    transition: .5s;
}

#content-3-diamond {
    width: 20vw;
    height: 20vw;
    margin: auto;
    background: #f1c9b5;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    position: absolute;
    top: 45px;
    transition: .5s;
    
}

#content-diamond-3-text {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    margin: 40% auto;
    color: white;
    transition: .5s;

}

#content-1-diamond:hover, #content-2-diamond:hover, #content-3-diamond:hover {
    transition: .5s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 40px;
    text-decoration: none;
    
}

#content-1-diamond:hover #content-diamond-1-text, 
#content-2-diamond:hover #content-diamond-2-text,
#content-3-diamond:hover #content-diamond-3-text  {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .5s;
}

#home-bottom-space {
    height: 5vw;
}

.body-content-text {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

#contactModal {
    background: rgba(255, 255, 255, 0.459);
}

#contact-modal-content {
    background: #2d4052e5;
    color: white;
    border-radius: 20px;
}

#contact-submit-button {
    background: #eb774c;
    color: white;
}

footer {
    background: #1c3750;
    color: white;
    height: 10%;
    transition: .5s;
}

#footer-text-div {
    height: 100%;
    display: none;
}

#footer-text {
    height: 100%;
}